.generator-result-item {
  background-color: #f1f1f1;
  color: #1f1f1f;
  border-radius: 8px;
  padding: 8px 14px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 320px;

  &__title {
    flex: 1 0 auto;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    padding-right: 14px;
    font-size: 24px;
    margin: 0;
    max-width: calc(100% - 24px);
  }

  &__close {
    flex: 0 1 auto;
    padding: 0;
    background-color: transparent;
    border: none;
    transition: transform 0.3s ease-in-out;

    & > svg {
      display: block;
    }
    &:active {
      transform: rotate(180deg);
    }

    &:focus {
      outline: none;
    }
  }
}
